[mysqld]
# character set / collation
# collection contains chair comparison rule
character-set-server = utf8mb4
collation-server = utf8mb4_bin

# timezone, SYSTEM refers OS
default-time-zone = SYSTEM
log_timestamps = SYSTEM

# MySQL8 caching_sha2_password to mysql_native_password
# setting authentication method for new user
default-authentication-plugin = mysql_native_password

# Error Log
log-error = /var/log/mysql/error_mysql.log

# Slow Query Log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow_mysql.log
long_query_time = 5.0
log_queries_not_using_indexes = 0

# General Log
# Do not use ON instead
general_log = 1
general_log_file = /var/log/mysql/query_mysql.log

[mysql]
# utf8mb4 Character Set (4-Byte UTF-8 Unicode Encoding
default-character-set = utf8mb4

[client]
# utf8mb4 Character Set (4-Byte UTF-8 Unicode Encoding
default-character-set = utf8mb4